<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>App</title>
</head>

<body>
    <form action="/scan" method="post">
        <input type="text" name="sku" data-cy="sku">
        <button type="submit">Scan</button>
    </form>
    <h1>Point of Sale</h1>
    <code data-cy="display">{{ displayMessage }}</code>
</body>

</html>